* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

.logo {
    letter-spacing: 5px;
    width: 30%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background: none;
}

.upload-btn-wrapper2 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background: none;
}

.btn {
    border: 2px solid gray;
    color: gray;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    background: none;
}

#predict-button {
    border: 2px solid gray;
    color: gray;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    background: none;
}

#image-selector {
    background: none;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background: none;
}

#particles-js3 {
    background-color: white;
    width: 50%;
    float: left;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    /*top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 9px;*/
}

#pred {
    font-weight: bold;
}

.btn2 {
    border: 2px solid gray;
    color: gray;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    background: none;
}

#predict-button2 {
    border: 2px solid gray;
    color: gray;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    background: none;
}

#image-selector2 {
    background: none;
}

.upload-btn-wrapper3 input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background: none;
}

#particles-js4 {
    background-color: white;
    width: 50%;
    float: left;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30%;
    /*border: 3px solid black;
    transform: translateY(-50%);
    transform: translateX(50%);
    border-radius: 9px;*/
}

#pred2 {
    font-weight: bold;
}

.upload-btn-wrapper3 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background: none;
}

.upload-btn-wrapper4 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background: none;
}